.controller.custom {
    background: url(base.png) no-repeat center center;
    background-size: contain;
    height: 558px;
    width: 866px;
    position: relative;
    filter: drop-shadow(0 0 20px #0ff8) drop-shadow(0 0 15px #f80a);
}

/* TRIGGERS */
.custom .trigger {
    width: 80px;
    height: 46px;
    background: url(trigger.png);
    border-radius: 6px;
    box-shadow: 0 0 8px #0ff8;
    transition: transform 0.2s, box-shadow 0.2s;
}
.custom .trigger.pressed {
    background-position: 80px;
    margin-right: 2px;
    transform: scale(0.95);
    box-shadow: 0 0 12px #08f8;
}

/* BUMPERS */
.custom .bumper {
    width: 179px;
    height: 70px;
    background: url(bumpers.png);
    border-radius: 5px;
    box-shadow: 0 0 8px #f80a;
    transition: transform 0.2s, box-shadow 0.2s;
}
.custom .bumper.pressed {
    background-position: 178px;
    transform: scale(0.95);
    box-shadow: 0 0 12px #f80a;
}

/* STICKS */
.custom .stick {
    background: radial-gradient(circle at center, #00f0ff 20%, #001f3f 100%);
    border: 3px solid #08f8;
    box-shadow: inset 0 0 8px #00eaff, 0 0 10px #00f8ff;
    border-radius: 50%;
    transition: transform 0.2s ease, box-shadow 0.2s;
}
.custom .stick.pressed.left,
.custom .stick.pressed.right {
    transform: scale(0.95);
    box-shadow: 0 0 16px #00eaff;
}

/* D-PAD */
.custom .face {
    background: url(d-pad.png);
    filter: drop-shadow(0 0 5px #0ff);
    transition: transform 0.1s;
}
.custom .face.pressed {
    transform: scale(0.9);
    filter: drop-shadow(0 0 12px #0ff8);
}

/* ABXY */
.custom .button {
    background: url(face.svgz);
    transition: transform 0.1s ease, filter 0.1s ease;
    filter: drop-shadow(0 0 5px #ff7700);
}
.custom .button.pressed {
    transform: scale(0.9);
    filter: drop-shadow(0 0 10px #ff7700);
}

/* COULEUR DYNAMIQUE PAR BOUTON */
.custom .a {
    background-position: 0 0;
    top: 105px;
    left: 50px;
    filter: drop-shadow(0 0 5px #007bff);
}
.custom .b {
    background-position: -56px 0;
    top: 50px;
    right: 0px;
    filter: drop-shadow(0 0 5px #ff5733);
}
.custom .x {
    background-position: -113px 0;
    top: 50px;
    left: 0px;
    filter: drop-shadow(0 0 5px #00e1ff);
}
.custom .y {
    background-position: -168px 0;
    left: 50px;
    top: 0px;
    filter: drop-shadow(0 0 5px #ffc300);
}

/* AJOUT GLOW GLOBAL */
.custom .dpad,
.custom .sticks,
.custom .abxy {
    filter: drop-shadow(0 0 8px rgba(0, 255, 255, 0.3));
}
